.item-list {
  flex-basis: 20%;
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 320px;
  
  &--item {
    margin: 5px;
    padding: 0 5px;
    background-color: #eef;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;

    &.selected {
      background-color: #ddf;
      border: 1px dashed #000;
    }
  }
}

