.control-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 320px;
  max-width: 550px;
  padding: 10px 0 10px 30px;
  @media screen and (max-width: 984px) {
    padding: 10px;
  }
}

.item-list {
  overflow-y: auto;
  max-height: 180px;
  min-width: 315px;
  &--item {
    margin: 5px;
    padding: 0 5px;
    background-color: #faf4ff;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;
    &_dot {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }
    &_name {
      margin-left: 10px;
    }
    &.selected {
      background-color: #ccf;
      border-radius: 5px;
      transition: border-radius 0.5s;
    }
    .ant-list-item-meta-content {
      padding-left: 5px;
    }
    .anticon {
      filter: opacity(0.5);
      transition: 0.5s;
      &:hover {
        filter: opacity(1);
      }
    }
  }
}

.control-inputs {
  &--title {
    margin-bottom: 1px;
    font-weight: 600;
  }
  .ant-input {
    display: inline-block;
    width: 80px;
    &-group {
      display: flex;
      align-items: center;
    }
  }
  .input-label {
    margin-left: 20px;
  }
  &--input {
    display: inline-block;
    width: 50px;
    margin: 0 3px;
  }
  .ant-row.ant-form-item {
    margin-bottom: 10px;
  }
}
